body{
  display: block;
  padding-bottom: 0;
  height: 100vh;
  margin: 0;
}

#background-image{
  background-image: url("../img/mainBack.jpg");
  height: 84vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


nav{
  height: 8vh !important;
  font-size: 20px !important;
}


footer{
  height: 8vh;
  background-color: #343a40!important;
  line-height: 5vh;
  text-align: center;
  color: white;
  font-style: oblique;

}

/* This will allow me to center the button in the middle */
#start-shopping{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
}


/*This will be used to style the botton itself*/
#button-shopping{
  height: 15vh;
  width: 20vh;

  background-color: #343a40;
  color: white;
  font-weight: 100;
  font-size: 30px;
  font-style: oblique;
  border:2px groove black;
  border-radius: 5px;
}


#button-shopping:hover{
  background-color:lightgreen;
  color: black;  
}





#submitButton{
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  background-color: gray;
  color:white;
}


#submitButton:hover{
  background-color: black;
}



.nav-buttons{
  display: block;
  text-align: center;
  padding: 3;
}


.nav-buttons button{
  margin: 0 150px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 25%;
  font-weight: 500;
  
}




/*STYLE FOR THE CATEGORIES */

.cetegories{
  background-color: #f3f3f3;
  padding: 50px;
  margin-top: 40px;
  text-align: center;
  display: block;

  border: 1px solid black;
}


.cetegories div{
  border: 1px solid black;
  padding: 35px;
  width: 25%;
  height: 100;
  margin: 25px auto;
  padding: 35px;
  line-height: 75px;

  font-size: 30px;
  font-weight: 600;

  min-width: 365px;

}


#veggyandfruit{
  background-color: #86ff4a;
}


#bakery{
  background-color: #fffc5c;
}


#dairyandmeat{
  background-color: #c7525a;
}

#snacks {
  background: #73cfca;
}



#spices{
  background: #cc681c;

}



#spices:hover{
  background-color:darkorange;
  color:white;
}


#snacks:hover{
  background-color: darkblue;
  color: white;;
}


#dairyandmeat:hover{
  background-color: red;
  color: white;
}


#bakery:hover{
  background-color: yellow;
  color:blue;
}


#veggyandfruit:hover{
  background-color: darkgreen;
  color: white;
}